.Project {
    border-radius: 10px;
    border: 5px;
    border-style: solid;
    border-color: rgb(170, 255, 227);

    background-color: rgb(36, 72, 60);
    margin: 5px;
    margin-bottom: 105px;
    padding: 20px;

    display: block;

}

a {
    color: rgb(170, 255, 227);
    font-style: italic;
    font: 3em sans-serif;
}

/* ul {
    list-style-type: none;
    
} */

.tagline {
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}

li {
    margin-bottom: 20px;
}


body {
    background-color: rgb(56, 61, 60);
    margin: 5px;
    padding: 5px;
    font: 1em sans-serif;
    color: aliceblue;
    line-height: 2;
    margin-bottom: 300px;
}

h1 {
    font-variant: small-caps;
    font-size: xx-large;
    font: 4em sans-serif;
    color: rgb(170, 255, 227)
}

h3 {
    font-variant: small-caps;
    font-size: large;
    font: 2em sans-serif;
    color: rgb(170, 255, 227)
}


.startBar a {
    float: left;
    /* font: 1em sans-serif;
    font-size: medium; */
    margin: 5%;

}

.startBar {
    display: block;

    padding: 10px;

    margin-bottom: 100px;
}

.dragon {
    width: 400px;
    float: right;


}
.imgHolder {
    height: 500px;
}


.imgHolder>img {
    padding-left: 10%;
    height: 100%;
    width: auto;

}

/* #forestConcept {
    width: 100%;
    width:500px; padding-left: 30%;
} */

#audacityTimeline {
    width: 30%;
}

#primereTimeline {
    width: 35%;
}

#flexVideo {
    height: 315px;
    width: 560px;
}

p {
    margin-bottom: 50px;
}

audio::-webkit-media-controls-panel {
    background-color: rgb(170, 255, 227);
}

img {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    
}